
.notesText{
    color: #f29e29;
    margin: 1em 2.5em !important;
    font-size: 2em;
    font-weight: bold;
}

.list-box{
    margin: 0 2em 2em 2em !important;
    border: 5px solid #f29e29 !important;
}
.list-items{
    margin-top: 2em;
}
.card-content{
    background-color: black !important;
}

.add-btn-container{
    text-align: right;
}
.add-btn{
    background-color: #f29e29 !important;
}